// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sidebar {
  section {
    padding: 10px 0;
    border-top: 1px solid #d3d3d3;
    &:first-child {
     border: 0;
     padding-top: 0;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #d3d3d3;
    &:last-child {
     border-bottom: 1px solid #d3d3d3; 
    }
  }
}

.microposts {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}
.timestamp {
  color: #d3d3d3;
}

.userhome {
  margin-bottom: 2em;
  p {
    margin: 0;
  }
}

.stats {
  overflow: auto;
  margin: 10px 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #e8e8e8;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: red;      
    }
  }
}
