%footer.footer
  %div.row
    %div.large-12.large-centered.columns
      %small<
        %a{:href => "http://railstutorial.org/"}Rails Tutorial
        by Michael Hartl
      %dl.sub-nav
        %dd= link_to "About", about_path
        %dd= link_to "Contact", contact_path
        %dd= link_to "News", "http://news.railstutorial.org/"