%div.contain-to-grid
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          = link_to "sample app", '#', id: "logo" 
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      %ul.left
        %li.divider
        %li.active
          = link_to "Home", root_path
        %li.divider
        %li.active
          = link_to "Help", help_path
        %li.divider
        %li.active
          = link_to "Sign in", signin_path